{% include "base.html" %} {% load static %} {% block content %}

<style>
  .d-block {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
  }

  .scroll {
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 20.5px;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
  }

  .scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @-webkit-keyframes scroll {
    0%,
    20% {
      -webkit-transform: translateY(0) scaleY(1);
      transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(36px) scaleY(2);
      transform: translateY(36px) scaleY(2);
      opacity: 0;
    }
  }

  @keyframes scroll {
    0%,
    20% {
      -webkit-transform: translateY(0) scaleY(1);
      transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(36px) scaleY(2);
      transform: translateY(36px) scaleY(2);
      opacity: 0;
    }
  }
</style>
<link href="{% static 'css/test.css' %}" rel="stylesheet" />

<div style="background-color:#cccccc">
  <div class="container" style="margin-left:600px; margin-bottom:30px">
    <h3 style="font-family: Quicksand; padding-top:15px">
      PerfectPair: The #1 online shoe store
    </h3>
    <h3 style="font-family:'Courier New', Courier, monospace">Shop now!</h3>
    <button
      type="button"
      class="btn btn-primary btn-lg"
      style="background-color: #093a84; border-style:none; color:white"
    >
      <a style="color:white" href="{% url 'shoe:men_boots' %}"> Shop Men's</a>
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg"
      style="background-color: #093a84; border-style:none"
    >
      <a style="color:white" href="{% url 'shoe:women_boots' %}">
        Shop Women's</a
      >
    </button>
  </div>
  <div class="row" style="border-style:solid">
    <div class="column">
      <img src="media/shoe/shoex.jpeg" width="420px" height="400px" alt="" />
    </div>
    <div class="column">
      <img src="media/shoe/shoe11.png" width="420px" height="400px" alt="" />
    </div>
    <div class="column">
      <img src="media/shoe/shoe22.jpg" width="420px" height="400px" alt="" />
    </div>
    <div class="column">
      <img src="media/shoe/shoe33.jpg" width="420px" height="400px" alt="" />
    </div>
  </div>
</div>

{% include 'footer.html' %} {% endblock content %}
